<h1 class="text-center my-4">Leave Balance</h1>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Total Annual Leave</th>
      <th>Total Sick Leave</th>
      <th>Total Unpaid Leave</th>
      <th>Remaining Annual Leave</th>
      <th>Remaining Sick Leave</th>
      <th>Remaining Unpaid Leave</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ data.annualLeave }}</td>
      <td>{{ data.sickleave }}</td>
      <td>{{ data.unpaidLeave }}</td>
      <td>{{ annualLeave }}</td>
      <td>{{ sickLeave }}</td>
      <td>{{ unpaidLeave }}</td>
    </tr>
  </tbody>
</table>
